<% provide(:title, @user.name) %>
<div class="row">
  <aside class="span4">
    <section>
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
    </section>
  </aside>
  <div class="span8">
    <% if @user.apps.any? %>
      <h3>Apps (<%= @user.apps.count %>)</h3>
      <ol class="apps">
        <%= render @apps %>
      </ol>
      <%= will_paginate @apps %>
    <% end %>
  </div>
</div>
